<form action="/searchcontact" method="POST">
    <input type="text" id="query" name="query" placeholder="Enter Contact's Info">
    <button type="submit">Search Contacts</button>
</form>

<div>
    <section id="contactList">
        <% if(typeof contacts != 'undefined') { %>
        <% for(var i = 0; i < contacts.length; i++) { %>
            <p><%= contacts[i].firstName%></p>
            <p><%= contacts[i].lastName%></p>
            <p style="margin-left: 40px"><%= contacts[i].mobilePhone%></p>
            <p style="margin-left: 40px"><%= contacts[i].homePhone%></p>
            <p style="margin-left: 40px"><%= contacts[i].email%></p>
            <p style="margin-left: 40px"><%= contacts[i].company%></p>
        <% } %>
        <% } %>
    </section>
</div>
